
@media all and  (max-width:1199px){
    .home-table-section ul.tables-row li a { padding-left: 35px; width: 140px;}

    .home-table-section ul.tables-row { margin-left: 0px;}
    .home-table-section ul.tables-row:last-child li a {width: 180px;}
    .about-box { background-position-x: right;}
    .about-box a, .our-mission-box a { margin-top: 10px;}
    .our-aim-wrap .educate-wrap { height: auto;  margin-top: 1px; }



}

@media all and  (max-width:991px){
    .header-top {padding-bottom: 40px;}
    .header-top .navbar-nav a {display: inline-block; margin: 9px 15px;}
    .header-top .navbar-collapse.justify-content-end { margin-top: 15px; background-color: #fff;}
    .header-top .navbar-nav a:hover::before, .header-top .navbar-nav a.active::before {bottom: -6px;}
    
    .header-top h2 {margin-top: 38px; font-size: 36px;}
    .header-top p {font-size: 18px;}
    .home-table-section ul.tables-row { width: 222px;  border-bottom: solid 1px #585454;
        margin-bottom: 10px!important;}
    .home-table-section ul.tables-row li a { padding-left: 35px;  width: 180px;  }
    .about-box, .our-mission-box {height: auto; padding: 45px 220px 45px 30px;}
    .table-container {margin-top: 245px;}
    .our-aim-wrap { height: auto; margin-bottom: 25px;}
    


    ul.nav.other-tables li { width: 100%;}
    .inner-page-wrap h1, .inner-page-wrap h2 {font-size: 24px;}
    
    
    
    
    
    
    footer .footer-logo {width: 200px;}
    footer .footer-logo img {width:100%;}
    footer p { width: 100%;}





}


@media all and  (max-width:767px){
    .header-top p { font-size: 16px; line-height: 22px; width: 100%; }
    .search-bar { width: 490px;}
    .search-bar > input[type='number'] {width: 345px;}
    .search-bar button { width: 144px;}
    .home-table-section ul.tables-row li a { padding: 8px 10px 8px 35px;}
    .home-table-section ul.tables-row li:before {top: 9px;}
    .table-container table td, .table-container table th { width: 200px; }
    .table-container { border: solid 1px #ccc; }

    ul.nav.other-tables li {width: 33%; }
    ul.nav.other-tables {margin-bottom: 25px;}
    .inner-page-wrap table td, .inner-page-wrap table th { padding: 11px 11px;}
    .inner-page-wrap .col-md-8 {padding-right:15px;}
    .inner-page-wrap p { margin-bottom: 10px;}








    
}



@media all and  (max-width:575px){
    .container-fluid.header-top .container-fluid {display: contents;}
     .header-top .navbar-brand {width: 175px;}
     .header-top .navbar-brand img {width:100%;}
     .search-bar .show-table { width: 100%;}
     .search-bar { width: 100%;}
     .search-bar > input[type='number'] { width: 70%;}
     .search-bar button {width: 30%; font-size: 16px; line-height: 21px; padding: 0 5px;}
    .table-one-ten {background-size:325px;}
    .table-one-ten h2 { top:27px;  left: 105px;}
    .home-table-section h1 {margin-bottom: 36px}
    .home-table-section { padding-top: 35px; }
    .table-container table { width: 515px;}
    .table-container {margin-top: 180px;}
    .our-aim-wrap .educate-wrap {padding: 30px 15px;}
    .our-aim-wrap ul.aim-points li {font-size: 20px;}
    .about-box, .our-mission-box {padding: 45px 38px 45px 15px; }
    .about-box {background: #ef9a88;}
    .our-mission-box { background: #fdd172;}
    .home-table-section ul.tables-row {  width: 50%;}
    .home-table-section ul.tables-row li a { width: 155px;}
    .col-md-12.table-one-ten > .row { margin: 0; }
    
    ul.nav.other-tables li { width: 50%;}
    .examples-faq { width: 99%;}
    .inner-page-wrap table td:nth-child(1) {width: 160px;}
    .inner-page-wrap table.write-method td:nth-child(1) { width: 170px;}
    .inner-page-wrap table.find-more-table td:nth-child(1) { width: 120px; line-height: 24px;}
    .inner-page-wrap table.find-more-table td:nth-child(2) { line-height: 24px;}
    
    .search-bar .remove-text { right: 31%;}
    .inner-page-wrap table td:nth-child(2), .inner-page-wrap table th:nth-child(2) { padding-left: 5px;}

    .row.table-result { width: 100%;  margin-left: 0px; }
    .inner-page-wrap ol {width: 95%;}
    .table-test-wrap li.row.clear { padding: 10px 2px;}
    .table-test-wrap .col-1-2 {width: 46%;}
    .table-test-wrap input[type=number] { width: 72px; height: 40px;}
    .table-test-wrap ul {margin-bottom: 0; }
    .form-btn-wrap a.check-ans-reset {
        width: 100%;
        margin-top: 0px;
        text-align: center;
        order: 3;
        margin-bottom: 25px;
    }

    .row.form-btn-wrap {
        margin-right: 0;
        width: 100%;
    }




}




/* 

https://byjus.com/maths/table-of-13/
https://www.timestables.com/7-times-table.html
http://www.timestable.co/14x-times-table-online/
https://www.cuemath.com/multiplication-tables/13-times-table/
https://www.mymathtables.com/multiplication-timestable-13to20.html
https://www.markcalculate.com/calculate/how-to-calculate-percentage


https://www.tableof.com/multiplication-times-table/table-of-3.html
https://www.tableof.net/multiplication-times/table-of-3
http://tableof.net/multiplication-times-table-of-3

http://tableof.net/ */

/* https://www.tableof.net/times-table/table-of-3 */






















